.deluser{
	background-color: red;
	margin-top: 10px;
	width: auto;
	font-size: 16px;
	font-weight: 600;
	color: #fff;
	border-radius: 4px;
	padding: 10px;
}

#checkNight, #deskNotif, #showSName, #showPreview, #playSounds, #checkViolet,#isboton {
	display: none;
}

.check {
	position: relative;
	float: left;
	display: block;
	width: 38px;
	height: 14px;
	background: #BBB;
	cursor: pointer;
	border-radius: 15px;
	transition: all 0.2s ease-in-out;
}

.check > .tracer {
	width: 16px;
	height: 16px;
	background: #fff;
	border: 2px solid #BBB;
	border-radius: 100%;
	float: left;
	margin-top: -3px;
	transition: all 0.2s ease-in-out;
}